@use './abstracts' as *;

.about {
  &-section {
    @include min-width(small) {
      max-width: 85%;
      margin: 0 auto;
    }

    @include min-width(medium) {
      max-width: 100%;
    }

    @include min-width(large) {
      max-width: 85%;
      margin: 0 auto;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    @include min-width(medium) {
      justify-content: center;
      padding: 1rem;
    }
  }

  &__box-greeting {
    @include min-width(medium) {
      flex: 2;
    }
  }

  &__box-picture {
    @include min-width(medium) {
      flex: 1;
    }
  }

  &-text__box {
    width: 100%;
    padding: 2rem 1rem;
  }

  &__img-box {
    @include d_flex-jc_center;
  }

  &-photo {
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 0.5rem solid white;

    @include min-width(medium) {
      width: 100%;
    }

    @include min-width(large) {
      max-width: 70%;
    }
  }
}

.section__box-about {
  @include min-width(medium) {
    @include d_flex-jc_center;
  }
}

.fa-google {
  background: conic-gradient(from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
}

.fa-stack-overflow {
  background-color: orange;
}

.fa-google,
.fa-stack-overflow {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.cta {
  @include min-width(medium) {
    @include d_flex-jc_center;
    width: 100%;
  }
}

.btn-cta {
  @include min-width(medium) {
    max-width: 55%;
  }
}