@use "./abstracts" as *;

.contact__box {
  max-width: 50rem;
}

.form__input,
.form__submit,
.form-btn__submit {
  padding: 1rem;
}

.form__input,
.form-btn__submit,
.form__submit {
  margin: 0.5rem auto;
}

.form__input {
  width: 100%;
  background-color: #c5c6c7;
  font-family: "Raleway", sans-serif;
  border: 2px solid $main-color;
}

.label,
.form__submit {
  font-size: 1.2rem;
}

.form__input:focus-within {
  outline: 1px solid rgb(94, 93, 93);
}

textarea.form__input {
  height: 15rem;
  overflow: hidden;
}

.form-btn__submit {
  @include d_flex-jc_center;
}
