@use './abstracts' as *;

.name-logo {
  @include gradientColor;
  font-size: 1.8rem;
  height: 100%;
  padding-right: 1rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
}

.navbar,
.nav-menu {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  padding: 1rem 2rem;

  @include min-width(medium) {
    padding: 1rem;
  }
}

.nav-menu {
  align-items: center;
  gap: 60px;
}

.menu-item {
  @include min-width(medium) {
    font-size: 1.375rem;
  }
}

.menu-link {
  transition: 0.7s ease;
  position: relative;

  &:hover {
    color: $complementary-color;
  }

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: $complementary-color;
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
  }

  &:hover:after {
    transform: translateX(-50%) scaleX(1);
  }
}

.hamburger-menu {
  @include d_flex-jc_center;
  flex-direction: column;
  width: 1.6rem;
  padding: 0 2rem;

  @include min-width(medium) {
    display: none;
  }

  .bar {
    width: 1.6rem;
    height: 2px;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    margin-bottom: 5px;
    border-radius: 5px;

    &:nth-child(2) {
      width: 1.3rem;
    }
  }
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  top: -100%;
  left: 0;
  gap: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.8s ease;

  @include min-width(medium) {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    gap: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.nav-menu.active {
  top: 0;
  background-color: $mainBackground-color;
}
