@use "./abstracts" as *;

.project__box,
.project__picture-wrapper,
.project__button-container {
  display: flex;
}

.project__box-wrapper {
  @include min-width(medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project__content-wrapper,
.project__picture-wrapper,
.project__description-wrapper {
  @include min-width(medium) {
    display: grid;
  }
}

.project__description-wrapper {
  @include min-width(medium) {
    grid-area: description;
  }
}

.project__button-container {
  flex-direction: column;
  align-items: center;

  @include min-width(medium) {
    flex-direction: row;
  }
}

.project__box {
  min-height: 35rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid $main-color;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;

  @include min-width(medium) {
    width: 80%;
  }

  @include min-width(xlarge) {
    width: 40%;
  }
}

.project__box-wrapper:nth-child(1) {
  margin: 0 0 1rem 0;
}

.project__picture-wrapper {
  @include d_flex-jc_center;
  padding-bottom: 3rem;

  @include min-width(medium) {
    grid-area: picture;
    justify-items: center;
    padding: 0;
  }
}

.project__content-wrapper {
  padding: 0 0.5rem;

  @include min-width(medium) {
    grid-template-areas: "picture description";
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;
    align-items: center;
  }
}

.project__header {
  font-size: 1.6rem;
  text-align: center;

  @include min-width(medium) {
    font-size: 1.8rem;
  }
}

.project__picture {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  transition: 0.5s ease-in-out;

  @include min-width(medium) {
    width: 100%;
    max-height: 50vh;
    margin: 2rem 0;
  }

  &:hover {
    @include min-width(medium) {
      transform: scale(1.5);

      .project__description-wrapper {
        transform: scale(-2);
      }
    }
  }
}

.project__button {
  width: 80vw;

  @include min-width(medium) {
    max-width: 25vw;
  }
}

.project__picture-fullView {
  width: 100%;
}

.qa-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}