@use "./abstracts" as *;
@use "header";
@use "about";
@use "portfolio";
@use "skills";
@use "contact";
@use "design-section";
@use "scrollUp";
@use "footer";
@use "classStyles";

body {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: $lightMainBackground-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  letter-spacing: 0.5px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.6rem, 4vw, 2.5rem);
  margin-bottom: clamp(0.3rem, 2vw, 3rem);
}

h3 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  margin: 1.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5rem;
}

a,
p {
  font-size: clamp(1rem, 2vw, 1rem);
}

ul {
  list-style: none;
}

input,
textarea {
  border: none;
}

section {
  margin: 0;

  @include min-width(medium) {
    margin: 2rem;
  }
}

.page-wrapper {
  background-color: $mainBackground-color;
  min-width: 200px;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;

  @include min-width(medium) {
    font-size: 1.3rem;
  }
}

/*_____website colors_____*/

.header,
.project__button,
.icon-img,
.form__submit,
.footer {
  background-color: $main-color;
}

.navbar,
.main {
  background-color: $mainBackground-color;
}

.btn,
.hamburger-menu:hover,
.project__picture:hover {
  cursor: pointer;
}

.menu-link,
.section__name {
  color: $secondary-color;
}

.btn,
.footer,
.devicon-github-plain,
.devicon-linkedin-plain {
  color: $mainBackground-color;
}

.greeting-text,
.profession-text,
.about-text {
  color: $text-color;
}

.devicon,
.fab {
  color: $main-color;
}

.btn:hover,
.menu-item__link:hover,
.btn-cta:hover,
.project-button:hover {
  @include hover-style;
  transition: 0.4s;
}

/*_________________________*/
