@import "utilities";

.about {
  &-section {
    max-width: 100%;

    @include mobile425 {
      max-width: 85%;
      margin: 0 auto;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  /*&__box-greeting {
    height: 100vh;
  }*/

  &-text__box {
    width: 100%;
    padding: 2rem 1rem;
  }

  &__img-box {
    @include d_flex-jc_center;
    @include mobile425 {
      width: 80%;
    }
  }

  &-photo {
    max-width: 100%;
    height: auto;
    border: 0.5rem solid white;
  }
}

.cta {
  width: 90%;
}

.fa-google {
  background: conic-gradient(from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
}

.fa-stack-overflow {
  background-color: orange;
}

.fa-google,
.fa-stack-overflow {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/*@media (min-width: 425px) and (min-height: 501px) {

  .about__img-box {
    width: 100%;
  }
}*/

@media (min-width: 768px) and (min-height: 501px) {

  .about__box {
    justify-content: center;
    min-width: 25%;
  }

  .about__box-greeting {
    height: auto;
  }

  .section__box-about {
    display: flex;
  }

  .about__box,
  .project__description-wrapper {
    padding: 1rem 2rem 0;
  }

  .cta {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn-cta {
    max-width: 55%;
  }
}