@import "utilities";

.box {
  margin: 2rem auto 0;
}

.section__box {
  padding: 0 1rem;
}

.section__name {
  font-size: 1.875rem;
  text-align: center;
  color: $secondary-color;
}

.section__h2 {
  border-top: 3px solid $secondary-color;
  display: inline-block;
  padding-top: 1rem;
}

.btn {
  @include d_flex-jc_center;
  max-width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid $mainBackground-color;
}

.highlight {
  color: $complementary-color;
  font-weight: bold;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

a span::after {
  content: ">>";
}

.small-textSize {
  font-size: small;
}

/***** element flipping *****/

.flip-box {
  max-width: auto;
  height: auto;
  perspective: 1000px;
}

.flip-box__inner {
  @include d_flex-jc_center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box__inner {
  transform: rotateY(180deg);
}

.flip-box__front,
.flip-box__back {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-box__front {
  height: 100%;
  visibility: visible;
}

.flip-box__back {
  width: 80%;
  height: 35vh;
  top: -7rem;
}

.flip-box__back {
  transform: rotateY(180deg);
}

/****************************/

@media (min-width: 768px) {
  .btn {
    padding: 1rem;
    margin: 1rem;
  }

  .grow {
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.1);
      @include hover-style;
    }
  }
}

@media (min-width: 1000px) {
  .section__box {
    padding: 0;
  }

  .flip-box__front {
    height: 100%;
  }
}
