.project__box {
  border: 2px solid $main-color;
}

.project__box,
.project__picture-wrapper,
.project__button-container {
  display: flex;
}

.project__box,
.project__box-wrapper {
  flex-direction: column;
}

.project__button-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project__box {
  max-width: 30rem;
  min-height: 35rem;
  margin: 2rem auto;
  justify-content: space-between;
}

.project__box-wrapper:nth-child(1) {
  margin: 0 0 1rem 0;
}

.project__picture-wrapper {
  @include d_flex-jc_center;
  padding-bottom: 3rem;
}

.project__picture {
  display: block;
  max-width: 80%;
  transition: 0.5s ease-in-out;
}

.flip-box__project-picture {
  width: 85vw;
  height: 20vh;
}

.project__header {
  font-size: 1.75rem;
  padding: 2rem;
  text-align: center;
}

.project__content-wrapper {
  padding: 0 0.5rem;
}

.project__button {
  width: 80vw;
}

@media (min-width: 768px) and (min-height: 601px) {
  .project__box {
    max-width: 80rem;
  }

  .project__header {
    font-size: 2rem;
  }

  .project__content-wrapper,
  .project__picture-wrapper,
  .project__description-wrapper {
    display: grid;
  }

  .project__content-wrapper {
    grid-template-areas: "picture description";
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0 3rem;
  }

  .project__picture-wrapper {
    grid-area: picture;
    justify-items: center;
    padding: 0;
  }

  .flip-box__project-picture {
    max-width: 20vw;
    grid-area: picture;
  }

  .project__picture {
    max-height: 50vh;
    margin: 2rem 0;
  }

  .project__picture:hover {
    scale: 1.2;
  }

  .project__description-wrapper {
    grid-area: description;
  }

  /*.project__description-wrapper {
    padding: 1rem 2rem 0;
  }*/

  .project__button {
    max-width: 25vw;
  }
}